@import "tailwindcss";

@theme inline {
  --color-background: #1a1b1f;
  --color-foreground: #e5e9f0;
  --color-blue: #5e81ac;
  --color-gray: #88c0d0;
  --color-green: #92ba6f;
  --color-yellow: #ebcb8b;
  --color-red: #c65460;
}

/* "dark": {
  "background": "#1a1b1f",
  "foreground": "#e5e9f0",
  "yellow": "#5e81ac",
  "green": "#92ba6f",
  "gray": "#88c0d0",
  "blue": "#ebcb8b",
  "red": "#c65460"
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
